@viewport {
  width: device-width ;
  zoom: 1.0 ;
}


body, html
{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: white;
  font-family: Calibre,sans-serif;
}
ul
{
  position: relative;
  bottom: 0%;
  width: 100%;
  height: 55%;
  padding-bottom: 100px;
  list-style: none;
}
li
{
  width: 22%;
  height: 80%;
  padding: 2.5%;
  margin: 2.5%;

  float: left;
  list-style: none;
  background-color: rgb(1, 49, 88);
}

table, ul a
{
  width: 100%;
  text-decoration: none;
}
td.image
{
  width: 100%;
}
td.title, td.text
{
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
td.title
{
  font-size: 24pt;
}
td.text
{
  width: 100%;
}

img
{
  width: 100%;
}
img.logo
{
  margin: 0;
  padding: 15px;
  margin-left: 5%;
  width: 10%;
}

button
{
  padding: 10px;
  background-color: white;
  color: black;
  outline: none;
  border: none;
}
button:hover
{
  cursor: pointer;
}


div.text
{
  width: 90%;
  padding: 5%;
  margin: 0;
  padding-bottom: .5%; 
  color: black;
}
div.title
{
  background-color: #013158;
  width: 94%;
  padding: 1%;
  padding-left: 5%;
}
div.title h1
{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  margin-bottom: 0;
  font-size: 3.0rem;
}
div.title h3
{
  font-size: 12pt;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  color:white;
}



.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



@media screen and (max-width:640px) {
  ul
  {
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 55%;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;

    list-style: none;
  }
  li
  {
    width: 90%;
    height: 90%;
    padding: 2.5%;
    margin: 2.5%;

    float: left;
    list-style: none;
    background-color: rgb(1, 49, 88);
  }
  img.logo
  {
    margin: 0;
    padding: 15px;
    margin-left: 10%;
    width: 70%;
  }
  div.title
  {
  }
}

@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  
}
