body, html
{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: white;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}
ul
{
  position: relative;
  top: 35%;
  width: 100%;
  height: 55%;
  padding-bottom: 200px;
  list-style: none;
}
li
{
  width: 22%;
  height: 80%;
  padding: 2.5%;
  margin: 2.5%;

  float: left;
  list-style: none;
  background-color: rgb(1, 49, 88);
}

table, a
{
  width: 100%;
  text-decoration: none;
}
td.image
{
  width: 100%;
}
td.title, td.text
{
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
td.title
{
  font-size: 24pt;
}
td.text
{
  width: 100%;
}

img
{
  width: 100%;
}
img.logo
{
  position: fixed;
  top: 0px;
  left: 60px;
  width: 10%;
}

button
{
  padding: 10px;
}
button:hover
{
  cursor: pointer;
}




.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}